.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.loginForm{
    margin-top:30vh;
}
.jumbotron {
    background-color: #696969;
    height: 100vh;
    margin-bottom: 0px;
}
